@charset "utf-8";

/* reset */

*{ margin:0; padding:0; box-sizing:border-box; }
body,html{ overflow:overlay; }
html,body,div,h1,h2,h3,h4,h5,p,span,button,input,textarea,select,option{ font-family: 'Work Sans', sans-serif; font-size:16px; font-weight:300; }
table{ border-collapse:collapse; }
button{ background:none; border:none; cursor:pointer; }
input{ background:none; border:none; padding:0; margin:0; font-size:16px; }
input::placeholder{ color:#010101; }
button:focus, a:focus, input:focus, textarea:focus{outline:none;}
ol,ul{ list-style: none !important; }
a{ color:#010101; text-decoration:none; }
img{ width:100%; display:inherit; vertical-align:top; }
select{ background:none; border:none; font-family: 'Work Sans', sans-serif; font-size:16px; cursor:pointer; }
select:focus{ outline:none; }
select{ height:30px; padding-right:30px; background: url(../images/angle-down-solid-wh.svg) no-repeat 95%; background-size:20px 20px; font-size:0.95em; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
select::-ms-expand { display: none; }
b{ font-weight:500; }
::-webkit-scrollbar{ width:8px; height:6px; background:transparent; }
::-webkit-scrollbar-thumb{ padding:0 20px; background-color: rgba(0, 0, 0,0.2); border:1px solid rgba(255, 255, 255,0.5); border-radius:12px; background-clip:border-box; -webkit-border-radius:12px; -moz-border-radius:12px; -ms-border-radius:12px; -o-border-radius:12px; }
::-webkit-scrollbar-track{ background-color:transparent; border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; -ms-border-radius:0; -o-border-radius:0; }
@font-face{
    font-family: "Roxie rossa";
    src:url("../font/Roxie\ rossa.ttf") format("truetype");
}